openapi: "3.1.0"
info:
  title: OpenWeatherMap API
  description: >
    Access current weather data for any location on Earth, including over 200,000 cities. Data is frequently updated based on global models and data from more than 40,000 weather stations. Available in JSON, XML, or HTML format.
  version: "2.5"
  termsOfService: https://openweathermap.org/terms
  contact:
    name: OpenWeatherMap API Support
    url: https://openweathermap.org/api
    email: support@openweathermap.org
  license:
    name: CC Attribution-ShareAlike 4.0 (CC BY-SA 4.0)
    url: https://openweathermap.org/price
servers:
  - url: https://api.openweathermap.org/data/2.5/
paths:
  /weather:
    get:
      tags:
        - Current Weather Data
      summary: Get current weather data for one location
      description: >
        Retrieve current weather data for a specified city. You can search by city name, city ID, geographic coordinates, or ZIP code.
      operationId: getCurrentWeatherByCityName
      parameters:
        - name: q
          in: query
          description: >
            City name and optional country code (ISO 3166). For example: `London` or `London,GB`.
          required: true
          schema:
            type: string
        - name: units
          in: query
          description: >
            Units of measurement. Options are:
            - `standard`: Kelvin (default)
            - `metric`: Celsius
            - `imperial`: Fahrenheit
          schema:
            type: string
            enum: [standard, metric, imperial]
        - name: lang
          in: query
          description: >
            Language of the response. For a list of supported languages and their codes, refer to the OpenWeatherMap API documentation.
          schema:
            type: string
        - name: mode
          in: query
          description: >
            Response format. Options are:
            - `json` (default)
            - `xml`
            - `html`
          schema:
            type: string
            enum: [json, xml, html]
        - name: appid
          in: query
          description: Your unique API key.
          required: true
          schema:
            type: string
            enum: [YOUR_API_KEY]
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeatherResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/WeatherResponse'
            text/html:
              schema:
                type: string
        '401':
          description: Unauthorized. Invalid API key.
        '404':
          description: City not found.
components:
  schemas:
    WeatherResponse:
      type: object
      properties:
        coord:
          $ref: '#/components/schemas/Coordinates'
        weather:
          type: array
          items:
            $ref: '#/components/schemas/Weather'
        base:
          type: string
          description: Internal parameter
        main:
          $ref: '#/components/schemas/Main'
        visibility:
          type: integer
          description: Visibility in meters
        wind:
          $ref: '#/components/schemas/Wind'
        clouds:
          $ref: '#/components/schemas/Clouds'
        rain:
          $ref: '#/components/schemas/Precipitation'
        snow:
          $ref: '#/components/schemas/Precipitation'
        dt:
          type: integer
          description: Time of data calculation in Unix UTC
        sys:
          $ref: '#/components/schemas/Sys'
        timezone:
          type: integer
          description: Shift in seconds from UTC
        id:
          type: integer
          description: City ID
        name:
          type: string
          description: City name
        cod:
          type: integer
          description: Internal parameter
    Coordinates:
      type: object
      properties:
        lon:
          type: number
          description: Longitude
        lat:
          type: number
          description: Latitude
    Weather:
      type: object
      properties:
        id:
          type: integer
          description: Weather condition ID
        main:
          type: string
          description: Group of weather parameters (e.g., Rain, Snow, Extreme)
        description:
          type: string
          description: Weather condition within the group
        icon:
          type: string
          description: Weather icon ID
    Main:
      type: object
      properties:
        temp:
          type: number
          description: Temperature
        feels_like:
          type: number
          description: Human perception of weather
        temp_min:
          type: number
          description: Minimum temperature at the moment
        temp_max:
          type: number
          description: Maximum temperature at the moment
        pressure:
          type: integer
          description: Atmospheric pressure (hPa)
        humidity:
          type: integer
          description: Humidity percentage
    Wind:
      type: object
      properties:
        speed:
          type: number
          description: Wind speed
        deg:
          type: integer
          description: Wind direction in degrees
        gust:
          type: number
          description: Wind gust speed
    Clouds:
      type: object
      properties:
        all:
          type: integer
          description: Cloudiness percentage
    Precipitation:
      type: object
      properties:
        '1h':
          type: number
          description: Precipitation volume for the last hour
        '3h':
          type: number
          description: Precipitation volume for the last 3 hours
    Sys:
      type: object
      properties:
        type:
          type: integer
          description: Internal parameter
        id:
          type: integer
          description: Internal parameter
        country:
          type: string
          description: Country code (ISO 3166)
        sunrise:
          type: integer
          description: Sunrise time in Unix UTC
        sunset:
          type: integer
          description: Sunset time in Unix UTC
